* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif ;
    color: #626262;
}



header {
padding: 78px;
}

a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}

nav {
    width: 900px;
    margin: 0 auto;
}


.nav-list {
    display: inline-block;
    margin: none;
    color: green;
    display: flex;
    justify-content: space-between;
}

.nav-list-item:hover {
    color: firebrick;
    font-size: 14px;

}

.mainlist {
    width: 900px;
    margin: 0 auto;
}

.main-list-item {
    display: inline-block;
    width: 420px;
    margin-right: 55px;
    margin-bottom: 120px;
}

.main-list-item:nth-of-type(even) {
    margin: 0px;
}

.main-list-img {
    width: 422px;
    height: 280px;
    margin-bottom: 30px;
}

.category {
    margin-bottom: 24px;
    font-family: 'Ubuntu', sans-serif;
    color: #585858;
    font-size: 10px;
}

.main-list-title {
    margin-bottom: 30px;
    font-size: 22px;
}

.main-list-text {
    font-size: 12px;
}
.main-list-btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 21px;
      width: 160px;
      height: 60px;
      background: transparent;
      margin-bottom: 21px;
      border: 1px solid #626262;
      color: #626262;
      font-family: 'Playfair Display', serif ;
      font-size: 20px;
      cursor: pointer;
      outline: none;
      transition: .7s;
}

.main-list-btn:hover {
transform: scale(1.5);
background-color:#626262;
color: white;
border-radius: 7px;
}
